# Chat DB
DB_CHAT_USER=user
DB_CHAT_PASSWORD=changeme
DB_CHAT_NAME=messages
CHAT_DB_PORT=5432
HTTP_PORT=8080
DB_CHAT_SSLMODE=disable


# Auth DB
# DB_AUTH_USER=user
# DB_AUTH_PASSWORD=changeme
# DB_AUTH_NAME=auth
# AUTH_DB_PORT=5433
