# Chat DB
DB_CHAT_USER=postgres
DB_CHAT_PASSWORD=password
DB_CHAT_NAME=chat_db

# Auth DB
DB_AUTH_USER=postgres
DB_AUTH_PASSWORD=password
DB_AUTH_NAME=auth_db

# Feed DB
DB_FEED_USER=postgres
DB_FEED_PASSWORD=password
DB_FEED_NAME=feed_db

# Profile DB
DB_PROFILE_USER=postgres
DB_PROFILE_PASSWORD=password
DB_PROFILE_NAME=profile_db

# Gateway
AUTH_SERVICE_URL=http://auth:8081
CHAT_SERVICE_URL=http://chat:8082
FEED_SERVICE_URL=http://feed:8083
PROFILE_SERVICE_URL=http://profile:8084

JWT_SECRET=changeme